/* Table of Contents  
  
    #Backend Styling
    #Margin Section

*/

/* Backend Styling  Start */

html{
  scroll-behavior: smooth
}

:root {
  --darkblue: #092E42;
  
}


.giant-container h1 {
  color: var(--darkblue);;
  font-size: 36px;
  font-weight: 200;
}
.giant-container h2 {
  color: var(--darkblue);;
  font-size: 26px;
  font-weight: 200;
  margin-bottom: 40px;
}

.giant-container{
  background-color: #fff;
  height: 100%;
  padding: 160px 100px 100px;
  position: relative;
  border-top: 10px solid var(--darkblue);
  margin-left: -20px;
  font-weight: 300;
  font-size: 16px;
  color: var(--darkblue);
}
.giant-container::before{
  content: '';
  display: flex;
  width: 100px;
  height: 70px;
  position: absolute;
  top: 40px;
  background-image: url(assets/giant.svg);
  background-size: contain;
}
.giant-container .description-outer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  border: 1px solid green;
  max-width: 900px;
  padding: 20px;
}

#giant-value{
  margin: unset;
  border: 1px solid var(--darkblue);
  padding: 10px 20px;
  margin-bottom: 10px;
  transition: 0.2s;
}
#giant-value:hover{
  cursor: pointer;
  border-color: green;
  color: green;
  transition: 0.2s;
}

.giant-container .values-outer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1200px;
}
.giant-container .values-area #giant-value{
  transition: 0.3s;
}
.giant-container .values-area #giant-value.copied {
  background-color: green;
  color: #fff;
  transition: 0.15s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  transform: scale(1.03);
}
/* Margin Section Start  */

.no-margin{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.margin-auto{
  margin: auto;
}

.margin-left-100{
  margin-left: 100px;
}

.margin-left-200{
  margin-left: 200px;
}

.margin-left-300{
  margin-left: 300px;
}

.margin-left-400{
  margin-left: 400px;
}

.margin-left-500{
  margin-left: 500px;
}

.margin-left-600{
  margin-left: 600px;
}

.margin-left-700{
  margin-left: 700px;
}

.margin-left-800{
  margin-left: 800px;
}

.margin-left-900{
  margin-left: 900px;
}

.margin-right-100{
  margin-right: 100px;
}

.margin-right-200{
  margin-right: 200px;
}

.margin-right-300{
  margin-right: 300px;
}

.margin-right-400{
  margin-right: 400px;
}

.margin-right-500{
  margin-right: 500px;
}

.margin-right-600{
  margin-right: 600px;
}

.margin-right-700{
  margin-right: 700px;
}

.margin-right-800{
  margin-right: 800px;
}

.margin-right-900{
  margin-right: 900px;
}


/* Margin Section End  */ 




@media screen and (max-width: 1200px){
  .giant-container .intro-image{
    max-width: 400px;
  }
}
/* Backend Styling End  */



